# build output
dist/

# sanity studio dev cache
.sanity/

# generated types
.astro/

# dependencies
node_modules/

# environment
.env
.env.local
.env.production

# misc
.DS_Store
*.tsbuildinfo
pnpm-debug.log*

# direnv
.direnv/
